$메인칼라: #ff0000;
.red {
  color: $메인칼라;
}

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
@mixin 함수() {
  background: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.my-alert {
  @include 함수();
}
.my-alert2 {
  @extend.my-alert; // 모든 속성을 붙여넣기
  background: #ffe591;
}
.my-alert p {
  margin-bottom: 0;
}
// 시작
.wow-enter {
  opacity: 0;
}
// 동작할때
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
